<!doctype html>
<html>
<head>
    <title>early-MI </title>
    <!-- link for adding jquery to our document -->
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- link for script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/early_MI.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- link for css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/exp_MI.css')}}">

</head>
<body>
<div style="display:flex; justify-content:space-around">

    <div id="mainWindow" >
        <!-- header element of webpage -->
        <div id="chatHeader">
            <!-- text in header -->
            <h3>Be a coach and talk to the user...</h3>
        </div>
        <!-- container or box for chat history -->
        <div id="chatContainer">
            <!-- area for texts   -->
        </div>

        <div id="chatInput">

        <textarea id="textbox" name= "input_message" placeholder="As a coach, how would you respond to the user?"></textarea>
            <button id="sendBtn" type="button">Send</button>
            <span class="w3-tag w3-teal">You can type and send the response multiple times until you click <button class="submit_task" type="submit" style="color:#425B76">Submit Task</button> to finish.</span>
        <!-- send button -->

        </div>
    </div>

    <div id="helpIcon">
        <button id="helpBtn", type="submit" style="border: 0; background: transparent">
            <img src="{{url_for('static', filename='img/bot.jpg')}}" width="300" height="300" alt="submit" />
        </button>
        <div class="clickText" style="font-size: 30px;">Hard to follow all the chat history? <br> Click my face for help!</div>
    </div>

</div>
<script>
    $(".submit_task").click(function (){

        var prolific_q_str = window.location.search;
        window.location.replace("https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_7VRHG9PMepAPyU6" + prolific_q_str);

        $.ajax({
            type: "POST",
            url: "/endTime",
            data: JSON.stringify({
                "endTask": true
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data) {
                console.log(JSON.stringify(data));
            }
        });

    });
</script>
</body>
</html>