<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title>Instructions for the worker</title>
</head>
<body>
    <h1 style="text-align: center">Instruction Page</h1>
    <div style="text-align: center; font-size: 40px">Here are some instructions for the worker...</div>
    <div style="width: 500px; height: 500px; border: solid #425B76 2px; margin: auto"></div>
    <p align="center"><a href=early_MI><button class=grey style="height:75px;width:150px; font-size: 30px">Start Task</button></a></p>
</body>
</html>


