<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- link for adding jquery to our document -->
    <link rel="shortcut icon" href="#">

    <!-- link for script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- link for css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Instructions for the worker</title>
</head>
<body>
<h1 style="text-align: center">Instruction Page</h1>
<div style="text-align: center; font-size: 40px">Here are some instructions for the worker...</div>
<div style="width: 500px; height: 500px; border: solid #425B76 2px; margin: auto">

</div>

<p align="center"><button class=start_task style="height:75px;width:150px; font-size: 30px">Start Task</button></p>


<script>
    var prolific_q_str = window.location.search;

    $(".start_task").click(function (){

        window.location.replace("https://contextbot.herokuapp.com/early_MI" + prolific_q_str);
    })
</script>
</body>
</html>