{% extends 'chat_history.html' %}

<body>

{% block content %}
    <div id="helpIcon">
        <button id="helpBtn", type="submit" style="border: 0; background: transparent">
            <img src="{{url_for('static', filename='img/bot.jpg')}}" width="300" height="300" alt="submit" />
        </button>
        <div class="clickText" style="font-size: 30px;">Hard to follow all the chat history? <br> Click my face for help!</div>
    </div>
{% endblock content%}

{% block contextbot_scripts %}
    <script type="text/javascript" src="{{url_for('static', filename='js/MI.js')}}"></script>
    <script>
        // js script for early_MI condition

        // different dimensions of contexts
        const social_cxt_MI = "to respond the user according to the historical context in this session";
        const prompts_social_cxt_MI = "keep your response <strong>as consistent as the previous turns</strong>";
        const linguistic_cxt_MI = `First I guess you'd like to know what the user is referring to with “It is so bad” in the last utterance.<br><br>Click <a href="#highlightCxt0" id="linkToCxt">*here*</a> to see the content the user is referring to. Use <button class="back">Back</button> and <button class="next">Next</button> to navigate through multiple sentences.`;
        const semantic_cxt_MI = `<ul>
<li>The user has broken up with her boyfriend. </li>
<li>She feels upset and confused by what's happened to her past awful relationships.</li>
</ul>`;
        const prompts_semantic_cxt_MI = `The highlighted texts you've seen on the left chat window show the relevant situation which the keyword <a href='#highlightCxt0' id='linkToCxt'>"It is so bad"</a> refers to. How about you let me give you more context and then you can know better?`;
        const cognitive_cxt_MI_1 = "<dl><dd>seek help and reasons for her low/negative emotions and bad relationships;</dd></dl>";
        const cognitive_cxt_MI_2 = "<dl><dd> provide consistent responses;</dd></dl>";
        const cognitive_cxt_MI_3 = "<dl><dd>continue providing <strong>consistent </strong>responses.</dd></dl>";
        const prompts_MI = `I think you’re ready to help this user out. Feel free to use the tips below for making better responses as a coach. I’m off to help others now, good luck!&#128521; <br><br>
<dl><dt>Empathy:</dt><dd>This involves showing your cognitive perception of the user's situation and your understanding for the feeling. For example: "Is there anything that I can..."; "I know that you are feeling...".</dd></dl>
                <dl><dt>Active listening:</dt><dd>You need to show you are there and listening to the user, such as "You feel anxious because you are..."; "I see you are..."</dd></dl>`;

        // insert the chat history here
        const historyBotText = ["You are feeling upset and confused. One confusing thing, then, is you don\u2019t understand why you\u2019re doing what you\u2019re doing. What\u2019s been happening?", "This blowup wasn\u2019t the first time that\u2019s happened to you.", "Kind of like a pattern that\u2019s repeating itself."];
        const historyUserText=
            ["I feel like I am falling apart. I don\u2019t have any energy. I don\u2019t know what is going on with me.",
                " I just broke up with my boyfriend. I mean we\u2019ve been living together and I thought he loved me, but he\u2019s just so distant. He won\u2019t talk to me, and I think maybe he\u2019s seeing someone else. Anyhow, he told me I\u2019m crazy.",
                "Men just drive me crazy. This is the third guy I\u2019ve lived with, and they all kind of ended in the same way. I just seem to fall in love with the wrong guys.",
                "Yes! It is so sad."];

        // index id for the linguistic context to which the ContextBot refers
        const linguistic_cxt_link_ids = {"Bot": [2], "User": [2]};

        var len_index_highlight_cxt = linguistic_cxt_link_ids["Bot"].length + linguistic_cxt_link_ids["User"].length - 1;
        var clickCounter = 0;

    </script>
{% endblock contextbot_scripts %}


</body>
</html>